################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnetcore.api/dotnetcore.api.winauth/bin
/dotnetcore.api/dotnetcore.api.winauth/obj
/dotnetcore.api/.vs
.vs